@using SwingCommon
@model SwingDataViewer.Models.HomeViewModel
@{
    ViewData["Title"] = "Swing Data Viewer";
}

<section class="basic">
    <p>
        ユピテル ゴルフスイングトレーナー GST-7 BLEを使ってスマホでどうにかするやつの見るほうです
        <br />
        「<a asp-area="" asp-controller="Home" asp-action="Start">はじめかた</a>」を見て試してください
    </p>

</section>

<section class="ranking">
    <h1>よくわからないランキング</h1>
    <div class="onepoint">
        <p>
            収集したデータは集計しているのでランキングを作ってみました。
        </p>
    </div>

    <h2>@Model.ThisMonth.TargetDate のランキング</h2>
    <div class="container">
        <div class="card-deck">
            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">やっぱり気になる</span>
                    <h4 class="card-title">最大ヘッドスピード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.MaxHeadSpeed.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.MaxHeadSpeed))</th>
                                    <td @(Model.ThisMonth.MaxHeadSpeed[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.MaxHeadSpeed[i].User.Name</td>
                                    <td>@Model.ThisMonth.MaxHeadSpeed[i].Value m/s</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">遅く振って飛ばせ</span>
                    <h4 class="card-title">最小ヘッドスピード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.MinHeadSpeed.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.MinHeadSpeed))</th>
                                    <td @(Model.ThisMonth.MinHeadSpeed[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.MinHeadSpeed[i].User.Name</td>
                                    <td>@Model.ThisMonth.MinHeadSpeed[i].Value m/s</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">突き抜けろ</span>
                    <h4 class="card-title">最大飛距離</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.MaxDistance.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.MaxDistance))</th>
                                    <td @(Model.ThisMonth.MaxDistance[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.MaxDistance[i].User.Name</td>
                                    <td>@Model.ThisMonth.MaxDistance[i].Value ヤード</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">装置の測定限界に挑戦</span>
                    <h4 class="card-title">最小飛距離</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.MinDistance.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.MinDistance))</th>
                                    <td @(Model.ThisMonth.MinDistance[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.MinDistance[i].User.Name</td>
                                    <td>@Model.ThisMonth.MinDistance[i].Value ヤード</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">ギアに仕事をさせまくれ</span>
                    <h4 class="card-title">最大ミート率</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.MaxMeetRate.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.MaxMeetRate))</th>
                                    <td @(Model.ThisMonth.MaxMeetRate[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.MaxMeetRate[i].User.Name</td>
                                    <td>@Model.ThisMonth.MaxMeetRate[i].Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">ボールの勢いを頃せ</span>
                    <h4 class="card-title">最小ミート率</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.MinMeetRate.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.MinMeetRate))</th>
                                    <td @(Model.ThisMonth.MinMeetRate[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.MinMeetRate[i].User.Name</td>
                                    <td>@Model.ThisMonth.MinMeetRate[i].Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">ボールは行くよどこまでも</span>
                    <h4 class="card-title">合計飛距離</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.TotalDistance.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.TotalDistance))</th>
                                    <td @(Model.ThisMonth.TotalDistance[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.TotalDistance[i].User.Name</td>
                                    <td class="multi">
                                        @Model.ThisMonth.TotalDistance[i].Value ヤード
                                        <br />
                                        <span class="small">
                                            (
                                            @SwingDataViewer.Services.DistanceFunction.Abstract(Model.ThisMonth.TotalDistance[i].Value)
                                            )
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">弾幕薄いよ！何やってんの！？</span>
                    <h4 class="card-title">合計打数</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.TotalBalls.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.TotalBalls))</th>
                                    <td @(Model.ThisMonth.TotalBalls[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.TotalBalls[i].User.Name</td>
                                    <td>@Model.ThisMonth.TotalBalls[i].Value 球</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">狙うと難しい</span>
                    <h4 class="card-title">50ヤード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.Just50Yard.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.Just50Yard))</th>
                                    <td @(Model.ThisMonth.Just50Yard[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.Just50Yard[i].User.Name</td>
                                    <td class="multi">
                                        @Model.ThisMonth.Just50Yard[i].Value 回
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <span class="comment">スコアアップの鍵</span>
                    <h4 class="card-title">💯ヤード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.ThisMonth.Just100Yard.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.ThisMonth.Just100Yard))</th>
                                    <td @(Model.ThisMonth.Just100Yard[i].User.Unknown ? "class=unknown" : "")>@Model.ThisMonth.Just100Yard[i].User.Name</td>
                                    <td>@Model.ThisMonth.Just100Yard[i].Value 回</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br />
    <h2>@Model.LastMonth.TargetDate のランキング</h2>
    <div class="container">
        <div class="card-deck">
            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">最大ヘッドスピード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.MaxHeadSpeed.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.MaxHeadSpeed))</th>
                                    <td @(Model.LastMonth.MaxHeadSpeed[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.MaxHeadSpeed[i].User.Name</td>
                                    <td>@Model.LastMonth.MaxHeadSpeed[i].Value m/s</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">最小ヘッドスピード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.MinHeadSpeed.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.MinHeadSpeed))</th>
                                    <td @(Model.LastMonth.MinHeadSpeed[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.MinHeadSpeed[i].User.Name</td>
                                    <td>@Model.LastMonth.MinHeadSpeed[i].Value m/s</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">最大飛距離</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.MaxDistance.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.MaxDistance))</th>
                                    <td @(Model.LastMonth.MaxDistance[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.MaxDistance[i].User.Name</td>
                                    <td>@Model.LastMonth.MaxDistance[i].Value ヤード</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">最小飛距離</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.MinDistance.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.MinDistance))</th>
                                    <td @(Model.LastMonth.MinDistance[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.MinDistance[i].User.Name</td>
                                    <td>@Model.LastMonth.MinDistance[i].Value ヤード</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">最大ミート率</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.MaxMeetRate.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.MaxMeetRate))</th>
                                    <td @(Model.LastMonth.MaxMeetRate[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.MaxMeetRate[i].User.Name</td>
                                    <td>@Model.LastMonth.MaxMeetRate[i].Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">最小ミート率</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.MinMeetRate.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.MinMeetRate))</th>
                                    <td @(Model.LastMonth.MinMeetRate[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.MinMeetRate[i].User.Name</td>
                                    <td>@Model.LastMonth.MinMeetRate[i].Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">合計飛距離</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.TotalDistance.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.TotalDistance))</th>
                                    <td @(Model.LastMonth.TotalDistance[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.TotalDistance[i].User.Name</td>
                                    <td>@Model.LastMonth.TotalDistance[i].Value ヤード</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">合計打数</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.TotalBalls.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.TotalBalls))</th>
                                    <td @(Model.LastMonth.TotalBalls[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.TotalBalls[i].User.Name</td>
                                    <td>@Model.LastMonth.TotalBalls[i].Value 球</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">50ヤード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.Just50Yard.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.Just50Yard))</th>
                                    <td @(Model.LastMonth.Just50Yard[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.Just50Yard[i].User.Name</td>
                                    <td>@Model.LastMonth.Just50Yard[i].Value 回</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <h4 class="card-title">100ヤード</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @for (var i = 0; i < Model.LastMonth.Just100Yard.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@(SummaryFunction.GetRankNumber(i, Model.LastMonth.Just100Yard))</th>
                                    <td @(Model.LastMonth.Just100Yard[i].User.Unknown ? "class=unknown" : "")>@Model.LastMonth.Just100Yard[i].User.Name</td>
                                    <td>@Model.LastMonth.Just100Yard[i].Value 回</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br />
</section>

<section class="basic">
    <h2>データを公開している人たち</h2>
    <div class="box">
        <div class="wraplist">
            @foreach (var logger in Model.Loggers)
            {
                <div class="wrapitem">
                    <a asp-controller="Home" asp-action="Graph" asp-route-id="@logger.Id" class="link"><i class="fas fa-golf-ball"></i> @logger.Name</a>
                </div>
            }

        </div>
    </div>
</section>